*/__pycache__  
*/figures_bottleneck 
*/output_dataframes_bottleneck
*/figures_bottleneck/*
*/output_dataframes_bottleneck/*
.Rproj.user
.Rhistory  
.RData
*/.Rproj.user
*/.Rhistory
*/.RData
*/logs/*
*.log
